.aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;

  //background-image: linear-gradient(to right, #add8e6, #000080);

  &__sectionone {
    position: relative;
    width: 100%;
    height: 20rem;

    &--image {
      width: 100%;
      height: 20rem;
    }
    &--text {
      position: absolute;
      top: 29%;
      left: 41vw;
      color: white;
      font-size: 4rem;
      font-weight: 900;
    }
  }
  &__sectiontwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--partone {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-heading {
        font-size: 3rem;
        font-weight: 900;
      }
      &-logo {
        &-img {
          width: 3rem;
        }
      }
    }
    &--parttwo {
      color: rgb(105, 105, 105, 0.5);
      font-size: 1.5rem;
      width: 80vw;
      text-align: center;
      margin-bottom: 5rem;
    }
  }
  &__sectionthree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    &--partone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-text {
        margin-top: 20rem;
        font-size: 6rem;
        font-weight: 800;
        color: #17217b;
        font-family: var(--font-fam);
      }
      &-logo {
        width: 3rem;
      }
    }
    &--parttwo {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      margin-top: 3rem;
      &-one {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        &-p1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
          &-image {
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            &:hover {
              -webkit-box-shadow: 0px 1px 14px 10px rgba(255, 255, 255, 0.87);
              box-shadow: 0px 1px 14px 10px rgba(255, 255, 255, 0.87);
              transform: translateY(-0.5rem) translateX(0.2rem);
            }
          }
          &-text {
            font-size: 1.75rem;
            font-weight: 700;
            color: black;
            margin-top: 1.25rem;
            &-2 {
              font-size: 1.5rem;
              color: white;
            }
          }
        }
      }
      &-two {
        margin-top: 4rem;
        margin-bottom: 12rem;
        &-icon {
          font-size: 5rem;
          font-weight: lighter;
          color: black;
          animation: MoveUpDown 1s linear infinite;
          transition: all 0.2s;
          &:hover {
            transform: translateY(-0.2rem);
            cursor: pointer;
            color: black;
          }
        }
      }
      &-three {
        display: flex;

        flex-wrap: wrap;
        margin-top: 2rem;
        justify-content: center;
        &-p1 {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          margin: 0rem 7rem;
          justify-content: center;
          margin-bottom: 4rem;
          align-items: center;
          text-decoration: none;

          &-image {
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            &:hover {
              -webkit-box-shadow: 0px 1px 14px 10px rgba(255, 255, 255, 0.87);
              box-shadow: 0px 1px 14px 10px rgba(255, 255, 255, 0.87);
              transform: translateY(-0.5rem) translateX(0.2rem);
            }
          }
          &-text {
            font-size: 1.75rem;
            font-weight: 700;
            color: black;
            margin-top: 1.25rem;

            &-2 {
              font-size: 1.5rem;
              color: black;
              margin-top: 0.25rem;
            }
          }
        }
      }
    }
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
}

@media (max-width: 468px) {
  .aboutus__sectionthree--parttwo-two-icon {
    font-size: 2.5rem;
  }
  .aboutus__sectionthree--partone-text {
    margin-top: 5rem;
    font-size: 3rem;
  }
  .aboutus__sectionthree--parttwo-one-p1-image {
    width: 8rem;
    height: 8rem;
  }
  .aboutus__sectionthree--parttwo-three {
    margin-top: -10rem;
  }
  .aboutus__sectionthree--parttwo-three-p1-image {
    width: 8rem;
    height: 8rem;
  }
}
.hello {
  background-color: black;
}
.hello {
  background-image: linear-gradient(to right bottom, #8b41f2, #3f1180);
}