* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 58.5%;
  font-family: "Questrial", sans-ser;
}

body {
  font-family: "Questrial", sans-ser;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  html {
    overflow-x: hidden !important;
  }
}
