.cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  &__border {
    border-top: 0.3rem solid black;
    width: 7rem;
    margin-bottom: 2rem;
  }
  &__heading {
    font-size: 5rem;
    color: #17217b;
    font-weight: normal;
    margin-bottom: 3.5rem;
    font-family: "Playfair Display", serif;
  }

  &__description {
    margin-bottom: 2rem;

    color: black;
    font-size: 2.4rem;
    font-weight: normal;
  }
  &__button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 6rem;
    font-size: 2.5rem;
    font-weight: 500;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-bottom: 5rem;
  }
}

.individualcase {
  padding-top: 10rem;
  display: flex;
  width: 100%;
  &:last-child {
    padding-bottom: 10rem;
  }
  &__left {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    @media (max-width: 800px) {
      width: 100%;
    }
    @media (max-width: 500px) {
      align-items: center;
      margin-left: 0rem;
      align-items: flex-start;
      margin-left: 2rem;
    }

    &--logo {
      display: flex;
      margin-top: 1rem;
      align-items: center;

      &-logo {
        &-img {
          width: 6rem;
          margin-right: 1.5rem;
        }
      }
      &-description {
        font-size: 3rem;
        color: white;
      }
    }
    &--technologies {
      display: flex;
      margin-top: 3rem;
      &-item {
        padding: 0.5rem 3rem;
        height: 4.5rem;
        border: 0.1rem solid white;
        border-radius: 50px;
        color: white;
        font-size: 2rem;
        &:not(:last-child) {
          margin-right: 2rem;
        }
        @media (max-width: 500px) {
          margin-right: 0rem;
          margin-bottom: 1rem;
          &:last-child {
            margin-right: 2rem;
          }
        }
      }
      @media (max-width: 500px) {
        // flex-direction: column;
      }
    }
    &--description {
      width: 80%;
      font-size: 2rem;
      color: white;
      margin-top: 3rem;
    }
    &--button {
      text-decoration: none;
      width: 25rem;
      height: 6rem;
      border: 0.2rem solid white;
      border-radius: 0.5rem;
      margin-top: 5rem;
      background-color: transparent;
      font-size: 2rem;
      color: white;
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        transform: translateY(-0.5rem);
      }
    }
  }
  &__right {
    width: 50%;
    &--image {
      width: 81%;
      margin-left: 5rem;
      @media (max-width: 1000px) {
        margin-left: 0rem;
        margin-top: 10rem;
      }
    }
    @media (max-width: 800px) {
      width: 0%;
    }
  }
}
.caseonmain {
  background-color: #007cba;
}

.welcomecase {
  background-image: url(../images/blue.jpg);
  position: relative;
  padding: 0rem 6rem;
  top: 8rem;
  padding-bottom: 5rem;

  &__navigator {
    padding-top: 4rem;
    font-size: 1.5rem;

    color: white;
    &--text {
      color: grey;
    }
  }
  &__heading {
    margin-top: 10rem;
    font-size: 5.6rem;
    font-weight: 700;
    color: white;
  }
  &__text {
    margin-top: 2rem;
    font-size: 2.3rem;
    width: 59rem;
    color: white;
  }
}

@media (max-width: 1000px) {
  .cases__heading {
    font-size: 4rem;
  }
}

@media (max-width: 900px) {
  .cases__heading {
    font-size: 3.5rem;
  }
}

@media (max-width: 800px) {
  .cases__heading {
    font-size: 3rem;
  }
}

@media (max-width: 650px) {
  .cases__heading {
    margin: auto;
    font-size: 2.5rem;
  }
}

@media (max-width: 468px) {
  .cases__heading {
    font-size: 1.9rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }
  .cases__description {
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
  }
  .cases__button {
    margin-top: 1.5rem;
    width: 20rem;
    height: 4rem;
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }
}
