.footer1 {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2rem;
  &__heading {
    &--logo {
      width: 6rem;
      margin-top: 2rem;
      visibility: hidden;
    }
  }
  &__main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    &--one {
    }
    &--two {
    }
    &--three {
    }
    &--four {
    }
  }
}
.footercontent {
  &__one {
    display: flex;
    flex-direction: column;

    &--heading {
      font-size: 1.5rem;
      font-weight: 600;
      color: black;
    }
    &--content {
      width: 17vw;
      font-size: 1.2rem;
      font-weight: 700;
      color: gray;
    }
  }
  &__two {
    display: flex;
    flex-direction: column;

    &--heading {
      font-size: 1.5rem;
      font-weight: 700;
      color: black;
    }
    &--content {
      &-text {
        color: gray;
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 1rem;
        position: relative;
        width: fit-content;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          left: 0rem;
          top: 1.5rem;
          border-bottom: 0.1rem solid brown;
          width: 0%;
          transition: all 0.5s;
        }
      }
      &-text:hover::after {
        width: 100%;
      }
    }
  }
  &__three {
    display: flex;
    flex-direction: column;

    &--heading {
      font-size: 1.5rem;
      font-weight: 600;
      color: black;
    }
    &--content {
      &-text {
        color: gray;
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 700;
      }
      &-social {
        margin-top: 2rem;
        font-size: 3rem;
        cursor: pointer;
        &-facebook {
          &:hover {
            color: #4267b2;
          }
        }
        &-instagram {
          &:hover {
            color: #8a3ab9;
          }
        }
        &-linkedin {
          &:hover {
            color: #0077b5;
          }
        }
        &-twitter {
          &:hover {
            color: #1da1f2;
          }
        }
      }
    }
  }
}
