.footer1 {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2rem;
  &__heading {
    &--logo {
      width: 6rem;
      margin-top: 2rem;
      visibility: hidden;
    }
  }
  &__main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -2.5rem;
    &--one {
    }
    &--two {
    }
    &--three {
    }
    &--four {
    }
  }
}
.footercontent {
  &__one {
    display: flex;
    flex-direction: column;

    &--heading {
      font-size: 1.5rem;
      font-weight: 600;
      color: black;
    }
    &--content {
      width: 17vw;
      font-size: 1.2rem;
      font-weight: 700;
      color: gray;
    }
  }
  &__two {
    display: flex;
    flex-direction: column;

    &--heading {
      font-size: 1.5rem;
      font-weight: 700;
      color: black;
    }
    &--content {
      margin-bottom: 3.5rem;
      &-text {
        color: gray;
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 1rem;
        position: relative;
        width: fit-content;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          left: 0rem;
          top: 2rem;
          border-bottom: 0.1rem solid #17217b;
          width: 0%;
          transition: all 0.5s;
        }
      }
      &-text:hover::after {
        width: 100%;
      }
    }
  }
  &__three {
    display: flex;
    flex-direction: column;

    &--heading {
      font-size: 1.5rem;
      font-weight: 600;
      color: black;
    }
    &--content {

      &-text {
        position: absolute;
        color: gray;
        margin-top: 5rem;
        font-size: 1.3rem;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        font-weight: 700;
      }
      &-social {
        margin-top: 2rem;
        font-size: 3rem;
        cursor: pointer;
        &-facebook {
          &:hover {
            color: #4267b2;
          }
        }
        &-instagram {
          &:hover {
            color: #8a3ab9;
          }
        }
        &-linkedin {
          &:hover {
            color: #0077b5;
          }
        }
        &-twitter {
          &:hover {
            color: #1da1f2;
          }
        }
      }
    }
  }
}
.footers {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: grey;
  font-weight: 600;

  &__location {
    display: flex;
    align-items: center;
  }
  &__locspan {
    margin-left: 1rem;
  }
  &__email {
    display: flex;
    align-items: center;
  }
  &__mail {
    margin-left: 1rem;
  }
  &__call {
    display: flex;
    align-items: center;
  }
  &__num {
    margin-left: 1rem;
  }
}

@media(max-width:468px) {
  .footer1__main--one {
    display: none;
    visibility: hidden;
  }
  .footer1__main--two {
    display: none;
    visibility: hidden;
  }
  .footer1__main--three {
    display: none;
    visibility: hidden;
  }
  .footercontent {
    margin-bottom: 6rem;
  }
  .footercontent__three--content-text {
    margin-top: 9rem;
  }
  .footercontent__three--heading {
    margin-top: -3rem;
  }
  // .footercontent__three--content {
  //   display: flex;
  //   justify-content: center;
  // }
  .footercontent__three--content-social-facebook {
    display: flex;
    justify-content: center;
  }
  .footercontent__three--content-social-instagram {
    margin-left: 2rem;
  }
  .footercontent__three--content-social-linkedin {
    margin-left: 4rem;
  }
  .footers {
    margin-top: 1.5rem;
  }
}