:root {
    --service-fonts: 'Open Sans', sans-serif;
    --font-fam: 'Playfair Display', serif;
    --font-color-blue: #008ecc;
    --font-color: rgb(97, 97, 252);
    --button-boder-1: rgb(166, 166, 255);
    --button-border-2:  rgb(54, 54, 250);
}